
/*
================================================
5. Header Logo Area
================================================
*/

.header-logo-area {
    padding: 5px;
}

.header-logo-address {
position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
}

.header-logo-address::before {
    position: absolute;
    right: -27px;
    top: -27px;
    width: 1px;
    height: 206%;
    background: #ddd;
    content: "";
    padding-left: 3px;

}
.header-logo-address.last-child:before {
    display: none;
}
.header-logo-icon i {
    font-size: 16px;
    display: inline-block;
    float: left;
    height: 35px;
    width: 35px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    margin-right: -40px;
}

.header-logo-text p {
    margin: 0;
    overflow: hidden;
    font-size: 14px;
}

a {
    color: #2d2e2e;
    transition: all 0.3s ease 0s;
}
a:hover {
    color: #242c42;
    text-decoration: none;
}
a, a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}
.btn, .btn * {
    transition: all 0.3s ease 0s;
}
i {
    transition: all 0.4s ease-in-out 0s;
}
.transition3s {
    transition: all 0.3s ease-in-out 0s;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
li {
    list-style: outside none none;
}
.mb-30 {
    margin-bottom: 30px;
}
section {
    float: left;
    width: 100%;
    padding: 80px 0;
}
#scrollUp {
    border-radius: 50%;
    bottom: 100px;
    color: #fff;
    display: block;
    font-size: 25px;
    height: 40px;
    line-height: 0;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none !important;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1) 0s;
    width: 40px;
    z-index: 1000 !important;
}
#scrollUp:hover {
    background: #000;
    border-bottom: 3px solid #999;
    color: #fff;
}
#scrollUp i {
    display: block;
    padding-top: 5px;
}
.no-padding {
    padding: 0;
}
.section-title {
    text-align: center;
    margin: 0 0 40px;
}
.section-title h2 {
    margin: 0 0 10px;
}
.separator::after {
    background: #666;
    content: "";
    height: 5px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 30px;
}
.separator {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    display: block;
    height: 5px;
    margin: 0 auto;
    position: relative;
    width: 60px;
}
.title-border-left::after {
    content: "";
    position: absolute;
    width: 50px;
    border: 1px solid #033d75;
}
.pad-b-10 {
    padding-top: 10px;
}
.bg-color2 {
    background:#f2f2f2;
}
.padding-20 {
    padding:20px;
}
.border-left-four {
    border-left:1px solid #e3e0e0;
}
.border-three {
    border:1px solid #e3e0e0;
}
.margin-bottom3 {
    margin-bottom:25px;
}

/* Button Effects */
.bttn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 0;
    padding: 8px 20px 9px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    background: darkgreen;
    border: none;
    cursor:pointer;
}
.bttn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background:#242c42;
}
.bttn:hover, .bttn:focus, .bttn:active {
    color: #fff;
}
.bttn:hover:before, .bttn:focus:before, .bttn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*
================================================
4. Top Wrapper
================================================
*/
.top-wrapper {
    background: #f9f9f9;
    border-bottom: 1px solid #f2f2f2;
    padding: 12px 0;
}
.top-address p {
    margin-bottom: 0;
}
.top-address p span, .top-address p a {
    margin-right: 20px;
}
.top-address p span i, .top-address p a i {
    font-size: 13px;
    color: #242c42;
    margin-right: 10px;
}
.top-address p a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/* TOP RIGHT CSS */
.top-right-menu ul.social-icons {
    margin: 0;
    padding: 0;
}
.top-right-menu ul.social-icons li {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}
.top-right-menu ul.social-icons li a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
}
.top-address p a, .top-right-menu ul.social-icons li a, .top-address p span {
    font-size: 16px;
}
.top-right-menu .social-icons li a:hover, .top-right-menu .social-icons li a i:hover {
    color: #242c42;
}
.top-both-p0 .top-address p a, .top-both-p0 .top-address p span {
    margin-right: 0px;
    margin-left: 12px;
}
.facebook.social-icon {
    color: #415E9B;
}
.twitter.social-icon {
    color: #1DA1F3;
}
.pinterest.social-icon {
    color: #BD081B;
}
.linkedin.social-icon {
    color: #007BB5;
}
.dribbble.social-icon {
    color: #EB4D88;
}


.featured-wrapper {
    padding: 71px 0 80px;
    background: #f3f3f3;
}
.featured-wrapper .section-title {
    margin: 0;
}
/** Featured Box **/
.featured-box {
    background: #ffffff;
    float: left;
    margin: 40px 1px 0 0;
    padding: 50px 30px 57px;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.featured-box:hover span, .featured-box:hover h5, .featured-box:hover p {
    color: #fff;
}
.featured-box.active span, .featured-box.active h5, .featured-box.active p {
    color: #fff;
}
.featured-box:hover a, .featured-box.active a {
    border-color: #fff;
    background: #fff;
    color: #303030;
}
.featured-box:hover a:hover, .featured-box.active a:hover {
    color: #fff;
}
.featured-box span {
    font-size: 60px;
    margin-bottom: 10px;
}
.featured-box h5 {
    margin: 15px 0 10px;
}
.featured-box p {
    margin: 0 0 25px;
}
.featured-box .btn {
    padding: 6px 20px 7px;
    font-size: 15px;
    font-weight: 300;
}
.featured-box .btn:hover {
    color: #fff;
}
/*
================================================
9. Our Services Wrapper
================================================
*/
.our-services-wrapper:before {
    background: #000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.82;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.inner-page-wrapper.our-services-wrapper:before {
    display: none;
}
.inner-page-wrapper.our-services-wrapper {
    background: none;
    padding: 50px 0 80px;
}
.inner-page-wrapper .single-services .media-body a {
    color: #2d2e2e;
    font-weight: 600;
}
.inner-page-wrapper .single-services .media-body p {
    color: #2d2e2e;
}
.our-services-wrapper .section-title {
    margin: 0;
}
.our-services-wrapper .section-title h2 {
    color: #fff;
}
/** Single featured **/
.single-services {
    padding-top: 30px;
}
.single-services .media i {
    max-height: 64px;
    max-width: 64px;
    object-fit: cover;
    font-size: 30px;
    transition: transform .3s ease-in-out;
    width: 50px;
    float: left;
    text-align: center;
}
.single-services .media-body {
    padding-left: 15px;
}
.single-services .media-body a {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s ease;
}
.single-services .media-body p {
    padding-top: 5px;
    color: #999;
    margin: 0;
}
.single-services:hover a {
}
.single-services:hover i {
    transform: rotateY(-180deg);
}
.single-bolg a.read-more {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding: 5px 7px 5px 13px;
    margin-top: 10px;
    transition: all 0.3s ease;
}
.single-bolg a.read-more i {
    color: #fff;
}
.single-bolg a.read-more:hover {
    color: #fff;
}



/*
================================================
14. Pricing Wrapper
================================================
*/
.pricing-wrapper {
    float: left;
    width: 100%;
    padding: 71px 0 80px;
}
.inner-page-wrapper.pricing-wrapper {
    padding: 30px 0 80px;
}
.pricing-wrapper .section-title {
    margin: 0;
}
/*** Single Pricing Table **/
.pricing_table {
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 40px 0;
    margin: 40px 0 0;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
}
.pricing_table:hover .top_border_1:before, .pricing_table:hover .top_border_2:before, .pricing_table:hover .top_border_3:before {
    visibility: visible;
    transform: scale(1.1);
}
.pricing_table:hover .price_table_btn a {
    color: #fff;
}
.top_border_1:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 5px;
    width: 100%;
    visibility: hidden;
    transform: scale(0);
    transition: all .5s;
}
.top_border_2:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 5px;
    width: 100%;
    background: rgb(71, 118, 230);
    visibility: hidden;
    transform: scale(0);
    transition: all .5s;
}
.top_border_3:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 5px;
    width: 100%;
    background: rgb(230, 71, 228);
    visibility: hidden;
    transform: scale(0);
    transition: all .5s;
}
.price_table_icon {
    margin-bottom: 20px;
}
.price_table_icon i {
    font-size: 40px;
}
.price_table_title h5 {
    text-transform: uppercase;
    margin-bottom: 19px;
}
.price_table_list {
    margin-bottom: 11px;
}
.price_table_list ul li {
    margin-bottom: 4px;
}
.price_table_tag h6 {
    margin-bottom: 16px;
}
.price_table_tag span {
    font-size: 42px;
}
.price_table_btn a {
    display: inline-block;
    padding: 16px 42px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    transition: all .5s;
}
.price_table_btn a:hover {
    color: #fff;
}
/*
================================================
15. Testimonials Wrapper
================================================
*/
.testimonials-wrapper {
    background: rgba(0, 0, 0, 0) url("../images/patteren.jpg") repeat scroll left top;
    padding: 70px 0 80px;
    position: relative;
}
.inner-page-wrapper.testimonials-wrapper {
    background:none;
}
.inner-page-wrapper.testimonials-wrapper .owl-nav {
    position: absolute;
    right: 0;
    top: -30px;
    z-index: 99;
}
.inner-page-wrapper.testimonials-wrapper .owl-nav > div {
    border: 2px solid #333333;
    color: #333333;
}
.testimonials-wrapper .section-title h2 {
    color: #fff;
}
/*** Testimonials Section ***/
.testimonials-wrapper .owl-nav {
    position: absolute;
    right: 0px;
    top: -80px;
    z-index: 99;
}
.testimonials-wrapper .owl-prev, .testimonials-wrapper .owl-next {
    position: relative;
    height: 38px;
    width: 38px;
    line-height: 33px;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    margin-left: 10px;
    display: inline-block;
    border: 2px solid #ffffff;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.testimonials-wrapper.style-two .owl-prev, .testimonials-wrapper.style-two .owl-next {
    color: #444444;
    border-color: #444444;
}
.testimonials-wrapper .owl-carousel .owl-stage-outer {
    padding-top: 50px;
}
.testimonial-block {
    position: relative;
}
.testimonial-block .inner-box {
    position: relative;
    padding: 0 30px 30px;
    background-color: #444444;
}
.testimonial-block .inner-box .image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -50px;
    margin-bottom: 25px;
    display: inline-block;
}
.testimonial-block .inner-box .content {
    position: relative;
}
.testimonial-block .inner-box .content .quote-icon {
    position: absolute;
    right: 0px;
    top: -35px;
    font-size: 30px;
    font-style: italic;
}
.testimonial-block .inner-box .content .author-info {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.testimonial-block .inner-box .content span {
    position: relative;
    color: #aaaaaa;
    font-size: 14px;
}
.testimonial-block .inner-box .content .text {
    position: relative;
    margin-top: 20px;
    color: #aaaaaa;
    font-size: 15px;
}
.testimonials-wrapper .owl-nav .owl-next {
    right: auto;
}
.testimonials-wrapper .owl-carousel .owl-item img {
    background: #333;
}
/*
================================================
16. News Letter Wrapper
================================================
*/
.newsletter {
    float: left;
    width: 100%;
    padding: 60px 0;
}
.newsletter form input {
    background-color: #ffffff;
    box-shadow: 2px 3px 9px rgba(44, 40, 86, 0.1);
    color: #222222;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 13px 20px;
    border-radius: 0;
}
.newsletter form {
    -moz-box-align: center;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-pack: justify;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.newsletter form .form-group {
    margin-bottom: 0;
    width: 38%;
}
/*
================================================
17. Breadcrumb Wrapper
================================================
*/
.breadcrumb-wrapper:before {
    background: #000000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.breadcrumb-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 0;
    position: relative;
    position: relative;
    z-index: 9;
    height: 400px;
}
.breadcrumb-wrapper h1 {
    color: #ffffff;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 90px;
    position: relative;
    text-transform: capitalize;
}
.page-breadcrumb::after {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    width: 200000px;
}
.page-breadcrumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-right: 4px solid #4ac8ed;
    bottom: 0;
    display: inline-block;
    left: 0;
    padding: 15px 25px 15px 0;
    position: relative;
}
.page-breadcrumb li:after {
    color: #ffffff;
    content: "-";
    font-size: 18px;
    position: absolute;
    right: -3px;
    top: -4px;
}
.page-breadcrumb li {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    padding-right: 15px;
    position: relative;
    text-transform: uppercase;
}
.page-breadcrumb li a {
    color: #ffffff;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}
.page-breadcrumb li:last-child {
    margin-right: 0;
    padding-right: 0;
}
.page-breadcrumb li:last-child:after {
    display: none;
}
/*
================================================
18. Inner Page Wrapper
================================================
*/
.inner-page-wrapper {
    float: left;
    padding: 80px 0;
    width: 100%;
}
/*
================================================
19. About Us
================================================
*/
.video-image-box .image {
    position: relative;
}
.video-image-box img {
    display: block;
    width: 100%;
}
.video-image-box .image .overlay-link {
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    color: darkgreen;
    display: flex;
    font-size: 50px;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 500ms ease 0s;
    width: 100%;
    z-index: 9;
}
.video-image-box .overlay-link span {
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 30px;
    height: 81px;
    line-height: 80px;
    padding-left: 6px;
    text-align: center;
    width: 81px;
}
.video-image-box.mb-30 .ripple, .video-image-box.mb-30 .ripple:before, .video-image-box.mb-30 .ripple:after {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80px;
    width: 80px;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.64);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.64);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.64);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.64);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}
.video-image-box.mb-30 .ripple:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
}
.video-image-box.mb-30 .ripple:after {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
}
@-webkit-keyframes ripple {
    70% {
        -webkit-box-shadow: 0 0 0 70px rgba(244, 68, 56, .0);
        box-shadow: 0 0 0 70px rgba(244, 68, 56, .0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(244, 68, 56, .0);
        box-shadow: 0 0 0 0 rgba(244, 68, 56, .0);
    }
}
@keyframes ripple {
    70% {
        -webkit-box-shadow: 0 0 0 70px rgba(244, 68, 56, .0);
        box-shadow: 0 0 0 70px rgba(244, 68, 56, .0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(244, 68, 56, .0);
        box-shadow: 0 0 0 0 rgba(244, 68, 56, .0);
    }
}
.about-sec {
    margin-bottom: 50px;
    margin-top: -5px;
    position: relative;
}
.about-sec .big-title {
    bottom: 9px;
    color: #edeff2;
    font-size: 65px;
    font-weight: 700;
    position: absolute;
    text-transform: capitalize;
    width: 100%;
}
.about-sec h2 {
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.1em;
    text-transform: capitalize;
    position: relative;
}
.about-wrapper .tab-list {
    border-bottom: 1px solid #d9d7d8;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
}
.about-wrapper .tab-item {
    position: relative;
    display: none;
    top: 20px;
    -webkit-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
}
.about-wrapper .tab-item.active-tab {
    display: block;
    top: 0;
}
.about-wrapper .tab-list li {
    margin-bottom: 0;
    margin-right: 30px;
    position: relative;
    display: inline-block;
}
.about-wrapper .tab-list li a {
    color: #222222;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
    position: relative;
}
.about-wrapper .tab-list li a.active-btn::before {
    width: 100%;
}
.about-wrapper .tab-list li a::before {
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 0;
}
/*
================================================
20. FAQ Page
================================================
*/
.inner-page-wrapper.faq-wrapper h2 {
    margin: 0 0 30px 0;
}
.inner-page-wrapper .faq-block {
    background: #4ac8ed;
    text-align: center;
    padding: 30px;
    margin: 0 0 50px 0;
    width: 100%;
    display: inline-block;
}
.inner-page-wrapper .faq-block h3 {
    color: #fff;
    font-size: 22px;
    line-height: 36px;
    font-weight: 700;
}
.inner-page-wrapper .faq-block h3 span {
    display: block;
    font-weight: 300;
}
.inner-page-wrapper .faq-block .icon {
    color: #fff;
    font-size: 40px;
    margin: 0 0 10px 0;
    display: inline-block;
}
#accordion .card-header, .card-link,.card-link:hover{background-color:#000;text-align:left;color:hotpink;}
#accordion .card-header {
    padding: 20px 30px;
}
.faq-accordion h3, .faq-testimoni h3 {
    margin-bottom: 30px;
    line-height: 25px;
}
#accordion .card-body {
    padding: 13px 30px 22px 30px;
    color: #777;
    font-size: 16px;
    line-height: 27px;
    border-top: 1px solid #ccc;
}
#accordion .card{border: none;-webkit-box-shadow: 0 0px 35px rgba(232, 232, 232, 1.1);
    -moz-box-shadow: 0 0px 35px rgba(232, 232, 232, 1.1);
    box-shadow: 0 0px 35px rgba(232, 232, 232, 1.1);}
#accordion .card-header, .card-link, .card-link:hover {
    background-color: #fff;
    text-align: left;
    color: #777;
    font-size: 16px;
    border: none;
    font-weight: normal;
}
.card-header span{position:absolute;top:20px;right:20px;font-size:20px;color:#777;
    -webkit-animation: minus 0.5s;}

@keyframes minus {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}

.faq-testi {
    background-color: #ffffff;
    box-shadow: 0 0 35px #e8e8e8;
    padding: 40px 15px;
}
#testimonial-2 .owl-nav {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 5%;
    z-index: 12;
}
.faq-testimoni .owl-prev {
    float: left;
    margin-left: 70px;
}
.faq-testimoni .owl-nav i {
    font-size: 35px;
}
.faq-testimoni .owl-next {
    color: #18ba60;
    float: right;
    margin-right: 70px;
}
.faq-client-photo img {
    border: 2px solid #4ac8ed;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    max-width: 100px;
    text-align: center;
}
.client-details {
    margin-top: 28px;
}
/*
================================================
21. Gallery Area
================================================
*/
.gallery__menu {
    margin-bottom: 30px;
}
.gallery__menu button {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #2d3e50;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 0 16px 16px;
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.gallery__menu button.is-checked, .gallery__menu button:hover {
    border-bottom: 1px solid #00baa3;
    color: #00baa3;
    outline: medium none;
}
.single-gallery-img a {
    position: relative;
    display: block;
    cursor: url(../images/zoomin-icon.png) 24 24, auto;
}
.single-gallery-img img{
    width: 100%;
}
.single-gallery-img a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.single-gallery-img:hover a::before{
    opacity: 1;
    visibility: visible;
}
.see-more-btn {
    text-align: center;
}
.see-more-btn a {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 25px;
    line-height: 26px;
}
.see-more-btn a:hover{
    color: #fff;
}
/*
================================================
22. Appointment Wrapper
================================================
*/
.appointment-wrapper .form-wrap {
    margin-bottom: 20px;
    position: relative;
}
.appointment-wrapper .form-wrap .form-input {
    background-color: rgba(0, 0, 0, 0);
    border-color: #bebebe;
    border-radius: 0;
    border-width: 0 0 1px;
    padding: 6px 0;
    width:100%;
}
.appointment-wrapper .form-label {
    color: #9b9b9b;
    font-size: 14px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 18px;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    will-change: transform;
    z-index: 9;
}
.appointment-wrapper textarea{
    background-color: rgba(0, 0, 0, 0);
    height: 203px;
    line-height: 2.39;
    overflow: hidden;
    resize: none;
    width:100%;
    box-shadow:none;
}
/*
================================================
23. Error Wrapper
================================================
*/
.error-wrapper {
    padding:71px 0 80px;
}
.error-wrapper .h1 {
    font-size: 90px;
    font-weight: 600;
}
.error-wrapper .form_search {
    position:relative;
}
.error-wrapper input.form-control, .error-wrapper textarea.form-control {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 30px;
    padding: 13px 20px;
}
.error-wrapper .btn-search {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #848484;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 12px;
}
.error-wrapper .search-icon {
    text-align: right;
}
/*
================================================
24. Coming Soon Wrapper
================================================
*/
.coming-soon:before {
    background: #000000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.82;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.coming-soon {
    background: rgba(0, 0, 0, 0) url("../images/services-bg.jpg") no-repeat fixed left top / cover ;
    float: left;
    padding: 71px 0 80px;
    position: relative;
    width: 100%;
    z-index: 9;
}
.coming-soon .coming-soon-inner {
    width:40%;
    margin:0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align:center;
    padding:30px;
}
.coming-soon h2 {
    color: #4ac8ed;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.coming-soon .coutndown {
    margin: 40px 0;
}
.coming-soon .cntdown {
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid #626262;
    display: inline-block;
}
.coming-soon .cntdown:last-child{
    border:none;
}
.coming-soon .cntdown span {
    color: #fff;
    font-size: 40px;
    line-height:30px;
}
.coming-soon .cntdown span strong {
    display: inline-block;
    color:#eee;
    margin:0;
}
.coming-soon .cntdown p {
    font-size: 12px;
    margin: 0;
    color:#6f6f6f;
    font-weight:400;
}
/** Social Icons **/
.coming-soon .social-icons {
    margin:0 0 45px;
}
.coming-soon .social-icons li {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.coming-soon .social-icons li a {
    border: 1px solid #6f6f6f;
    border-radius: 35px;
    color: #6f6f6f;
    display: inline-block;
    height: 35px;
    line-height: 32px;
    width: 35px;
}
.coming-soon .social-icons li a:hover{
    background:#232323;
    color:#fff;
}
/*
================================================
25. Login Wrapper
================================================
*/
.login-wrapper {
    padding: 71px 0 80px;
}
.login-box {
    background: #ffffff;
    margin: 0 auto;
    padding: 30px;
    width: 40%;
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
}
.login-title h3 {
    color: #111111;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.single-login-field {
    margin-bottom: 10px;
}
.single-login-field input {
    border: 1px solid #e8ecec;
    color: #333333;
    padding: 7px 10px;
    width: 100%;
}
.remember {
    display: inline-block;
    float: left;
    text-transform: capitalize;
}
.remember label {
    color: #333333;
}
.lost-pass a {
    color: #333333;
    float: right;
    font-weight: 500;
    text-transform: capitalize;
}
.single-login-field:last-child {
    margin-bottom: 0;
    text-align: center;
}
.dont_have {
    margin-top: 20px;
    text-align: center;
}
.login-wrapper .checkbox-spin {
    display: none;
}
.login-wrapper .checkbox-spin+label span {
    display: inline-block;
    width: 25px;
    height: 16px;
    margin: 0 0px -3px 0;
}
.login-wrapper .checkbox-spin+label span:before,
.login-wrapper .checkbox-spin+label span:after {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    z-index: 1;
    width: 16px;
    width: 16px;
    width: 1rem;
    height: 16px;
    height: 16px;
    height: 1rem;
    background: #fff none repeat scroll 0 0;
    border: 2px solid #dbdbdb;
}
.login-wrapper .checkbox-spin+label span:after {
    z-index: 0;
    border: none;
}
.login-wrapper .checkbox-spin:checked+label span:before {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    background: #4ac8ed;
    border: 1px solid #4ac8ed;
}
/*
================================================
26. Search Results Wrapper
================================================
*/
.search-results-wrapper {
    padding:71px 0 80px;
}
.search-results-wrapper .search-form {
    display: inline-block;
    float:none;
    position:relative;
    width:100%;
}
.search-results-wrapper .search-form form {
    padding: 0;
    position: relative;
}
.search-results-wrapper input.form-control {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 13px 20px;
}
.search-results-wrapper .btn-search {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #848484;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 12px;
}
/*
================================================
27. Button Wrapper
================================================
*/
.button-wrapper {
    padding:71px 0 40px;
}
.button-wrapper .button-section {
    margin:0 0 40px;
}
/*
================================================
28. Tabs Wrapper
================================================
*/
.tabs-custom .tab-pane {
    padding-top: 35px;
}
.tabs-wrapper h3 {
    margin:0 0 20px;
}
.tabs-wrapper .nav-tabs .nav-link:hover, .tabs-wrapper .nav-tabs .nav-link.active {
    color: #fff;
}
.tabs-wrapper .tabs-vertical li {
    width:90%;
}
.tabs-wrapper .tabs-vertical{
    border:none;
}
/*
================================================
29. Table Wrapper
================================================
*/
.tables1 table {
    border-collapse: collapse;
    width: 100%;
}
.tables1 th, .tables1 td {
    text-align: left;
    padding: 10px 20px;
}
.tables1 tr:nth-child(even){
    background-color: #f3f3f3
}

.tables1 th {
    color: #fff;
}
.tables2 table {
    width:100%;
}
.tables2 table, .tables2 th, .tables2 td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 10px;
}

.tables3 table {
    border-collapse: collapse;
    width: 100%;
}
.tables3 th {
    color: #fff;
}
.tables3 th, .tables3 td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.tables3 tr{
    transition: all 0.3s ease;
}
.tables3 tr:hover{
    background-color:#f3f3f3;
}

/*
================================================
30. Contact Us Wrapper
================================================
*/
.contactus-wrapper {
    float: left;
    padding: 71px 0 20px;
    width: 100%;
}
.contactus-wrapper h1 {
    position: relative;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
}
.contactus-wrapper .title h4 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 0px;
}
.contactus-wrapper .contact-info-list {
    position: relative;
    z-index: 9;
}
.contactus-wrapper .contact-info-list li {
    position: relative;
    color: #222;
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 23px;
    padding-left: 60px;
}
.contactus-wrapper .contact-info-list li:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.contactus-wrapper .contact-info-list li:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 50px;
    height: 2px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.contactus-wrapper .contact-info-list li b {
    font-weight: 600;
    display: block;
    font-family: 'Poppins', sans-serif;
}
.contactus-wrapper .contact-info-list li span {
    margin-right: 15px;
    display: inline-block;
    position: absolute;
    left: 18px;
    top: 10px;
    font-size: 18px;
}
/*Contact Form*/
.contact-form h2 {
    position: relative;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form select,
.contact-form textarea {
    display: block;
    width: 100%;
    height: 55px;
    font-size: 16px;
    color: #848484;
    line-height: 30px;
    padding: 12px 25px;
    font-weight: 300;
    background-color: #ffffff;
    border-radius: 0px;
    border: 1px solid #ececec;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    border-color: darkgreen;
}
.contact-form textarea {
    height: 150px;
    resize: none;
    padding: 12px 25px;
}
.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
    border-color: darkgreen !important;
}
.contact-form label.error {
    display: block;
    line-height: 24px;
    padding: 5px 0px 0px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 11px;
    color: #ff0000;
    font-weight: 500;
}
.contact-form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: darkgreen;
}
/*Social Icons*/
.social-icon-three {
    position: relative;
}
.social-icon-three li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.social-icon-three li a {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background: #f4f4f4;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.social-icon-three li a:hover {
    color: #ffffff;
    background-color: #242c42;
}
/*
================================================
31. Footer
================================================
*/
footer {
    padding: 70px 0 0;
    float: left;
    width: 100%;
    background: #071e33;
}
footer .footer-text .footer-logo {
    font-family: "Roboto Slab", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin: 0 0 20px;
}
footer .footer-text .footer-logo span {
    color: #fff;
    margin-left: 3px;
}
.footer .footer-text p {
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
}
.footer .social-icons {
    margin-left: -10px;
    margin-top: 20px;
}
.footer .social-icons .bttn {
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding:0;
}
.footer .links {
    padding-left: 10px;
}
.footer h3 {
    color: #ffffff;
    margin-bottom: 15px;
    margin: 0 30px 0 0;
}
.footer .links ul {
    margin-top: 25px;
}
.footer .links ul li {
    list-style-type: none;
}
.footer .links li a:before {
    position: absolute;
    content: "\f101";
    font-family: fontawesome;
    left: 0;
    transition: color .3s ease
}
.footer .links ul li a {
    color: #ffffff;
    display: block;
    font-size: 14px;
    margin-top: 15px;
    padding-left: 15px;
    position: relative;
}
.footer .instagram li img {
    height: 100%;
    width: 100%;
}
.footer .location ul li:first-child {
    padding-left: 0;
}
.footer .location ul li {
    color: #ffffff;
    font-size: 14px;
    margin-top: 15px;
    padding-left: 25px;
}
.location ul li i {
    display: inline-block;
    left: 15px;
    margin-top: 4px;
    position: absolute;
}
.location ul li a {
    color: #ffffff;
}
.footer .instagram ul {
    margin-top: 20px;
    padding: 0 10px;
}
.footer .instagram li {
    overflow: hidden;
    padding: 10px 5px 0;
    width: auto;
}
.footer .instagram li img {
    height: auto;
    width: 100%;
}
.copyright hr {
    background-color: #ffffff;
    margin-top: 0;
    opacity: 0.2;
}
.copyright {
    margin-top: 50px;
}
.copyright p {
    color: #ffffff;
}

/*
================================================
32. Responsive Styles
================================================
*/



@media (max-width: 767px) {
    /** Top Wrapper **/
    .top-wrapper {
        display: none;
    }
    /** Header Logo Area **/
    .header-logo-area {
        background: #4ac8ed;
    }
    div.header-logo-area .logo a, .header-logo-area .logo a span {
        color: #fff;
    }
    /** Main Menu Area **/
    .mainmenu-area {
        background: none;
    }
    /** Slider Area **/
    .sb-slider-button {
        display: none;
    }
    .sb-nivo-slider-wrapper .nivo-controlNav {
        display: none;
    }
    .sb-slider-title {
        font-size: 13px;
        margin-bottom: 16px;
    }
    .sb-slider-sub-title {
        font-size: 16px;
        margin-bottom: 0;
    }
    .sb-slider-descript {
        display: none;
    }
    .sb-nivo-slider-wrapper .nivo-directionNav .nivo-prevNav, .sb-nivo-slider-wrapper .nivo-directionNav .nivo-nextNav {
        display: none;
    }
    /** Featured Wrapper **/
    .featured-wrapper {
        text-align: center;
    }
    .featured-wrapper .section-title {
        margin: 0 0 40px;
    }
    .featured-box {
        margin: 0 15px 1px;
        display: inline-block;
        float: none;
    }
    /** Our Team Wrapper **/
    .team-members-left .btn {
        margin: 0 0 30px;
    }
    .team-members-left {
        margin: 0 0 30px;
    }
    /** Counter Wrapper **/
    .counter-wrapper {
        padding: 80px 0;
    }
    .counter-wrapper .counter {
        padding-bottom: 30px;
    }
    .counter-icon-box {
        background: rgba(107, 107, 107, 0.3);
        display: inline-block;
        padding: 20px 0;
        width: 80%;
    }
    .counter-icon {
        display: block;
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    .count-description {
        display: inline-block;
        float: none;
        text-align: center;
        width: auto;
    }
    .counter-icon:before, .counter-wrapper .counter:hover .counter-icon:before {
        display: none;
    }
    /** Our Blog Wrapper **/
    .blog_img_wraper img {
        width: 100%;
    }
    .blog_btm_cntnt {
        width: 90%;
        padding: 20px;
    }
    .blog_icon_overlay {
        display:none;
    }
    .blog-wrapper .sidebar_widget {
        margin:40px 0 0
    }
    .blog_box_wrapper.blog_box_padding {
        margin:0 0 40px;
    }
    .btc_blog_single_tittle_img_cont_wrapper {
        width: 100%;
    }
    .btc_blog_cate_cont_wrapper {
        padding: 20px;
    }
    .tb_btm_link_right {
        margin:20px 0 30px;
    }
    .tb_btm_link_left li a {
        margin: 0 0 8px;
    }
    /** Our Testimonials Wrapper **/
    .testimonials-wrapper .owl-nav {
        top: -18px;
    }
    /** News Letter Wrapper **/
    .newsletter form {
        display: block;
        margin: 20px 0 0;
    }
    .newsletter form .form-group {
        margin-bottom: 20px;
        width: 100%;
    }
    /** Breadcrumb Wrapper **/
    .breadcrumb-wrapper {
        padding: 60px 0 0;
    }
    .breadcrumb-wrapper h1 {
        font-size: 28px;
        margin-bottom: 45px;
    }
    .page-breadcrumb li {
        text-transform: none;
    }
    /** About Us Wrapper **/
    .about-sec {
        margin: 15px 0 40px;
    }
    /** FAQ Wrapper **/
    .faq-testimoni {
        margin:50px 0 0;
    }
    /** coming-soon Wrapper **/
    .coming-soon .coming-soon-inner {
        width: 100%;
    }
    .coming-soon h2 {
        font-size: 18px;
    }
    .coming-soon .cntdown span {
        font-size: 26px;
    }
    /** Login Wrapper **/
    .login-box {
        width: 90%;
    }
    .login-wrapper .checkbox-spin + label span {
        padding-right: 20px;
    }
    .remember {
        display: block;
        float: none;
    }
    .lost-pass a {
        float: none;
    }
    .remember-row {
        display: block;
        text-align: center;
    }
    /** Error Wrapper **/
    .error-wrapper .h1 {
        font-size: 55px;
    }
    .error-wrapper input.form-control {
        margin-bottom: 15px;
    }
    /** Button Wrapper **/
    .button-wrapper .button-section .btn	{
        margin:0 8px 10px;
    }
    /** Footer Wrapper **/
    .footer h3 {
        margin: 30px 0 0;
    }
    .footer .links {
        padding: 0;
    }
}

@media (max-width: 480px) {
    /** Featured Wrapper **/
    .featured-wrapper .no-padding {
        padding: 0 15px;
    }
    .featured-box {
        width: 100%;
        margin: 0;
    }
}


/*
================================================
 Common CSS
================================================
*/
#scrollUp {
    background: #4ac8ed;
    border-bottom: 3px solid #7cdefb;
}
#switcher .theme-color-one {
    background: #4ac8ed;
}
.bttn {
    background: darkgreen;
}
/*
================================================
 Header Logo Area
================================================
*/
.header-logo-area .logo a {
    color: #4ac8ed;
}
.header-logo-icon i {
    background: #242c42;
}
/*
================================================
 Menu Area
================================================
*/
.main-menu-area ul li.active > a {
    color: #4ac8ed;
}
.main-menu-area ul li a:hover {
    color: #4ac8ed;
}
.main-menu-area ul li ul li a:hover {
    color: #4ac8ed;
}
.main-menu-area ul li ul li a::before {
    background-color: #4ac8ed;
}
.main-menu-area ul li ul.mega-menu > li ul li a:hover {
    color: #4ac8ed;
}
.main-menu-area ul li.meg-drp-menu ul.mega-menu {
    border-top: 3px solid #4ac8ed;
}
.main-menu-area ul li ul.mega-menu, .main-menu-area ul li ul.dropdown_menu {
    border-top: 3px solid #4ac8ed;
}

/*
================================================
 Our Featured Wrapper
================================================
*/
.featured-box:hover, .featured-box.active {
    background: darkgreen;
}
/*
================================================
 Our Services Wrapper
================================================
*/
.single-services .media i {
    color: #4ac8ed;
}
/*
================================================
 Our Team Wrapper
================================================
*/
.team-members-right a {
    color: #4ac8ed;
}
/*
================================================
 Tabs Wrapper
================================================
*/
.tabs-wrapper .nav-tabs .nav-link:hover, .tabs-wrapper .nav-tabs .nav-link.active {
    background-color: #4ac8ed;
    border-color: #4ac8ed #4ac8ed #4ac8ed;
}
.tabs-wrapper .tabs-vertical li a{
    border-color: #e9ecef #e9ecef #dee2e6;
}
/*
================================================
 Table Wrapper
================================================
*/
.tables1 th {
    background-color: #4ac8ed;
}
.tables3 th {
    background-color: #4ac8ed;
}
/*
================================================
 Numbering Wrapper
================================================
*/
.counter-icon .icon {
    background: #4ac8ed;
}

/*
================================================
 Pricing Wrapper
================================================
*/
.pricing_table:hover .price_table_btn a {
    border-color: #242c42;
    background: #242c42;
}
.top_border_1:before {
    background: darkgreen;
}
.price_table_icon i {
    color: #4ac8ed;
}
.price_table_btn a {
    color: #242c42;
}
.price_table_btn a:hover {
    border-color: darkgreen;
    background: #242c42;
}

/*
================================================
 News Letter Wrapper
================================================
*/
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #4ac8ed !important;
}
/*
================================================
 Breadcrumb Wrapper
================================================
*/
.page-breadcrumb {
    border-color: #4ac8ed;
}
.page-breadcrumb li:last-child {
    color: #4ac8ed;
}

/*
================================================
  Error Wrapper
================================================
*/
.error-wrapper .h1 {
    color: #4ac8ed;
}
/*
================================================
 Gallery Area
================================================
*/
.see-more-btn a {
    color: darkgreen;
    border: 2px solid white;
}
.see-more-btn a:hover{
    background-color: #242c42;
    border-color: darkgreen;
}
.single-gallery-img a::before{
    background-color: rgba(74, 200, 237, 0.7);
}



::selection{
    background-color: darkgreen;
}